* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    //border: red 1px solid;
}
body{
    display: grid;
    grid-template-columns: 23vw 53vw 24vw;
    grid-template-rows: 125vh;
    background-color: #0D0C0C; 
    @media (max-width: 1250px){
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .navtel{
        display: none;

        @media (max-width: 1250px){
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 2vh;

            .logo{
                span{
                    color: white;
                    font-size: 35px;
                    font-weight: 800;
                    @media (max-width: 768px){
                        font-size: 20px;
                    }
                }
                @media (max-width: 768px){
                    img{
                        width: 35px;
                    }
                }
            }

            .search{
                grid-column: 2/3;
                grid-row:2/3;
                display: flex;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                padding: 2px;
                gap: 5px;
                width: 20%;
                height: 4vh;
                margin-left: 4vh;

                img{
                    width: 20px;
                }

            input{
                width: 95%;
                height: 30px;
                border: none;
                margin-left: 5px;
                @media (max-width: 1250px){
                    display: none;
                }
            }
        }
        }
    }

    nav{
        grid-column:1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-rows: 2vh 10vh 15vh 5vh 45vh 20vh 25vh;
        grid-template-columns: 23vw;
        @media (max-width: 1250px){
            display: flex;
            flex-direction: column;
        }


        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-row: 2/3;
            grid-column: 1/2;
            font-size: 40px;
            font-weight: 800;
            color: white;
            @media (max-width: 1250px){
                display: none;
            }
        }

        .dash{
            display: flex;
            justify-content: center;
            grid-row: 3/4;
            grid-column: 1/2;
            max-width: 200px;
            width: 90%;
            height: 50%;
            background:  linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);;
            border-radius: 10px;
            font-weight: 600;
            color: black;
            margin-bottom: 0;
            margin-top: auto;
            margin-right: auto;
            margin-left: auto;
            gap: 10px;
            align-items: center;
            font-size: 25px;
            @media (max-width: 1250px){
                display: flex;
                flex-direction: row;
                height: 60px;
            }
            @media (max-width: 768px){
                font-size: 20px;

                img{
                    width: 20px;
                }
            }

            img{
                height: 30px;
            }
        }
        
        .nav{
            grid-column: 1/2;
            grid-row: 5/6;
            display: grid;
            grid-template-columns: 10vw 15vw;
            list-style: none;
            align-items: center;
            color:rgba(255, 255, 255, 0.8);
            @media (max-width: 1250px){
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 2vh;
                font-size: 5px;
                margin-right: auto;
                margin-left: auto;
                gap: 2vw;

                img{
                    width: 50px;
                }
                span{
                    display: none !important;
                }
            }
            @media (max-width: 768px){
                img{
                    width: 35px;
                }
            }

            span {
                grid-column: 2/3;
                gap: 16px;
                display: flex;
                flex-direction: column;
                font-size: 20px;
                font-style: normal;
            }
            img{
                grid-column: 1/2;
                margin-right: 10px;
                margin-left: auto;
                height: 35px;
            }
}
        .logout{
            grid-column: 1/2;
            grid-row: 7/8;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            font-weight: 600;
            color: #1E1E1E;
            gap: 10px;
            margin-bottom: 25px;
            margin-top: auto;
            @media (max-width: 1250px){
                margin-top: 2vh;

                p{
                    display:none ;
                }
            }

            img{
                height: 30px;
            }
            p{
                font-size: 20px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    main {
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 2vh 10vh 15vh 70vh 5vh 20vh;
        grid-template-columns: 20vw 25vw;
        align-items: center;
        @media (max-width: 1250px){
            display: flex;
            flex-direction: column;
        }

        h1{
            color: white;
            font-size: 30px;
            grid-row: 2/3;
            @media (max-width: 1250px){
                display: none;
            }
        }

        .search{
            grid-column: 2/3;
            grid-row:2/3;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            padding: 2px;
            gap: 5px;
            width: 80%;
            margin-left: 4vh;
            @media (max-width: 1250px){
                display: none;
            }

            input{
                width: 95%;
                height: 30px;
                border: none;
                margin-left: 5px;
                @media (max-width: 1250px){
                    display: none;
                }
            }
        }
        .balance{
            grid-column: 1/2;
            grid-row: 3/4;
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media (max-width: 1250px){
                display:none;


            }

            .count{
                display: flex;
                align-items: center;
                gap: 15px;

                p{
                    font-size: 25px;
                    font-weight: 600;
                    color: white;
                }

                .btc{
                    background-color: #FAFF00;
                    padding: 2px;
                    padding-left: 8px;
                    padding-right: 8px;
                    border-radius: 6px;
                    font-weight: 800;
                    font-size: 13px;
                }
            }
                img{
                    height: 30px;
                }

            p{
                color: rgba(255, 255, 255, 0.8);
                font-size: 20px;
                font-weight: 300;
            }
            .total{
                font-weight: 800;
                font-size: 16px;
            }
            .dollar{
                font-weight: 00;
                font-size: 20px;
            }
        }
            .explore{
                display: flex;
                grid-column: 2/3;
                grid-row: 3/4;
                color:white;
                background-color: #3a3737;
                border-radius: 17px;
                width: 90%;
                height: 45px;
                justify-content: space-around;
                align-items: center;
                padding-top: 8px;
                padding-bottom: 8px;

                @media (max-width: 1250px){
                    display: flex;
                    width: 80%;
                    margin-right: auto;
                    margin-left: auto;  
                    margin-top: 2vh;
                }

                .portfolio{
                    background-color: #0D0C0C;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-radius: 17px;
                }
            }
            .graph{
                grid-column: 1/3;
                grid-row: 4/5;
                width: 50vw;
                @media (max-width: 1250px){
                    margin-top: 5vh;
                    width: 70vw;
                }
            }

            .recent{
                grid-column: 1/3;
                grid-row: 5/6;
                display: flex;
                margin-top: 0;
                margin-bottom: auto;
                margin-top: 5px;
                @media (max-width: 1250px){
                    width: 80%;  
                    margin-top: 5vh;
                }
                .trans{
                    font-size: 20px;
                    color: white;
                    font-weight: 600;
                }
                .coins{
                    color: rgba(255, 255, 255, 0.8);
                    font-size: 20px;
                    margin-right: 0;
                    margin-left: auto;
                    font-weight: 600;
                }
            }
        .monnaie{
            grid-row: 6/7;
            grid-column: 1/3;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            @media (max-width: 768px){
                flex-direction: row;
            }
            @media (max-width: 1250px){
                width: 80%;  
                margin-top: 2vh;
            }
            gap: 20px;
                .biteth{
                    display: flex;
                    align-items: center;
                    background: rgba(32, 35, 43, 0.7);
                    height: 60px;
                    width: 50vw;
                    border-radius: 10px;
                    justify-content: space-between;
                    padding-right: 1vw;
                    padding-left: 1vw;
                    padding-top: 1vh;
                    padding-bottom: 1vh;
                    @media (max-width: 768px){
                        flex-direction: column;
                        height: 45vh;

                        img{
                            width: 75px;
                        }
                    }
                    @media (max-width: 1250px){
                        width: 100%;  
                    }

                    .bit{
                        color: white;
                    }
                    .pbit{
                        color: rgba(255, 255, 255, 0.8);
                    }
                    .trade{
                        color: white;
                        background-color: #0D0C0C;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        padding-left: 12px;
                        padding-right: 12px;
                        border-radius: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
        section{
            display: grid;
            grid-column: 3/4;
            grid-template-rows: 2vh 10vh 15vh 40vh 55vh;
            grid-template-columns: 23vw;

            @media (max-width: 1250px){
                display: flex;
                flex-direction: column;
            }

            .enhaut{
                grid-row: 2/3;
                display: flex;
                align-items: center;
                @media (max-width: 1250px){
                    display: none;
                }

                .notif{
                    margin-left: 1vw;
                    margin-right: auto;
                }
                .profil{
                    margin-right: 1vw;
                    margin-left: auto;
                }
            }

            h2{
                grid-row: 3/4;
                color: white;
                margin-top: auto;
                margin-bottom:auto;
                @media (max-width: 1250px){
                    width: 80%;  
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 4vh;
                }
        }
        .transactions{
            grid-row: 4/5;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            @media (max-width: 1250px){
                display: grid;
                grid-template-columns: 50vw 50vw;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2vh;
            }
            @media (max-width: 768px){
                gap: 1vh;
            }


            div{
                display: flex;
                align-items: center;
                justify-content: center;


                .nom{
                    margin-left: 0.5vw;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-left: 1vw;
                }
            }
        }
        .assets{
            grid-row: 5/6;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            div{
                gap: 1vh;
            }
            @media (max-width: 768px){
                div{
                display: flex;
                flex-direction: column;
                }
            }

            @media (max-width: 1250px){
                div{
                    display: flex;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            h1{
                margin-top: 3vh;
                color: white;
                @media (max-width: 1250px){
                    width: 80%;  
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 4vh;
                }
            }
            .both{
                display: flex;
                align-items: center;
                height: 20vh;
                background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
                border-radius: 30px;
                width: 21vw;
                color: white;
                margin-bottom: 10px;
                @media (max-width: 768px){
                    width: 80% !important;
                }
                @media (max-width: 1250px){
                    margin-top: 2vh;
                    width: 40%;
                    height: 40%;
                    padding: 2vw;
                }

                .text{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-around;
                        margin-top: 1vh;
                        margin-bottom: 1vh;
                        margin-left: 1vw;
                        margin-right: 1vw;
                        width: 100%;
                        gap: 0.5vh;
                    img{

                        margin-top: 0;
                        margin-bottom: auto;
                    }

                    .numero{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .pbtc{
                            @media (max-width: 768px){
                                margin-right: 1vw;
                                margin-left: auto;
                            } 
                        }
                    }
                }

                
            }
        }
    }
}

